body {
  padding: 16px;
  color: #000;
}

.random-form {
  border: 1px solid #000;
  border-radius: 10px;
  left: 50%;
  padding: 16px;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .random-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 80px);
    margin-bottom: 20px;

    .random__result {
      font-size: 48px;
    }

    .random__inputs {
      .input {
        padding-bottom: 15px;

        .input__title {
          padding-bottom: 15px
        }

        .input__value {
          border-style: none;
          border-bottom: 3px solid #5f6368;

          &:focus {
            border-style: none;
            border-bottom: 3px solid #0950a7;
            outline: none;
          }
        }
      }
    }
  }

  .button {
    background-color: #5f6368;
    color: white;
    padding: 15px 40px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border-radius: 15px;
    transition: 1s ease;

    &:hover {
      background-color: #0950a7;
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}